body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    font-size: 25px;
}

button {
    height: 25px;
}

#counter-container {
    height: 150px;
    width: 250px;    
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}